<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我的個人簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;background-color:lightyellow;}
		h1 {color:darkblue; font-size:40px;text-align:center;}
		h2 {color:rebeccapurple; font-size:40px;text-align:center;}
		h3 {color:hotpink; font-size:40px;text-align:center;}
		h4 {color:deepskyblue; font-size:40px;text-align:center;}

	</style>

</head>
<body>
	<table width="60%">
	<tr>
		<td>
			<h1>黃偲瑋  Ssu-Wei Huang</h1><br>
		</td>
	</tr>
	</table>

	<table width="50%">
	<tr>
		<td>
			<img src="image.jpg"width="90%"></img>
		</td>
	</tr>
	</table>

	<table width="100%" border="1">
	<tr>
		<td>
			<h2>介紹</h2>
			我叫黃偲瑋，<br>
			靜宜大學資訊管理學系大二生，<br>
			目前除了在學習許多程式相關課程外，<br>
			也參加了熱舞社，現在也是幹部之一。<br>
			也正在往自己信裡的目標前進中。<br>
		</td>

		<td>
			<h3>小興趣</h3>
			我很喜歡跳舞，最喜歡的風格是HIP-HOP，<br>
			現在試靜宜熱舞的HIP-HOP教學，<br>
			我是從高中才開始接觸街舞這件事，<br>
			也沒能說是很厲害，但從中得到的樂趣，<br>
			使我一直能夠堅持去做這件事。<br>
		</td>

		<td>
			<h4>舞蹈影片</h4>
			<h4><iframe src="https://www.youtube.com/embed/uOjKCHuDEAU" allowfullscreen></iframe></h4>
		</td>
	</tr>
	</table>

</body>
</html>