<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>我的個人簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;background-color:lightskyblue;}
		h1 {color:darkslateblue; font-size:40px;text-align:center;}
		h2 {color:darkgray; font-size:40px;text-align:center;}
		h3 {color:darkgray; font-size:40px;text-align:center;}
		h4 {color:darkgray; font-size:40px;text-align:center;}
		div {color:lightyellow;}
	</style>

</head>
<body>
	<table width="60%">
	<tr>
		<td>
			<h1>傑生工業股份有限公司</h1><br>
		</td>
	</tr>
	</table>

	<table width="50%">
	<tr>
		<td>
			<img src="jason.png"width="90%"></img>
			</td>
	</tr>
	</table>

	<table width="80%" border="1">
	<tr>
		<td>
			<h2>公司介紹</h2>
			<div>名稱:</div><br>
			<a href="http://www.baw-auto.com.tw/">傑生工業股份有限公司</a><br>
			<div>介紹:</div><br>
			成立於1991年，<br>
			主要生產製造汽車懸吊及轉向產品。<br>
			一貫化的生產流程，從研發、生產製造、<br>
			產品測試驗證<br>
			高達95%的自製率，<br>
			目前已開發超過8000項產品<br>
		</td>

		<td>
			<h3>工作內容</h3>
			<div>工作內容:</div><br>
			軟硬體維護、ERP管理 <br>
			SQL基本操作<br>
			須配合墨西哥時差 <br>
			主管交辦事務<br>
			<div>工作技能:</div><br>
			資料庫管理及維護<br>
			網路系統安裝與配置<br>
			裝配電腦設備<br>
		</td>

		<td>
			<h4>職務需求</h4>
			學歷：專科以上 <br>
			工作經驗：不拘<br>
			語言能力：英檢中級(聽說讀寫) <br>
			電腦專長：<br>
			鼎新Workflow ERP、<br>
			Windows7Windows10、MS、<br>
			SQL、Excel、PC、Word<br>
			科系限制：<br>
			資訊管理、資訊工程<br>
	</tr>
	</table>

</body>
</html>